body, html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #F3F7FA;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}